.enlarge-fullscreen {
  animation-name: enlarge-fullscreen;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: enlarge-fullscreen;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes enlarge-fullscreen {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(2);
    width: "100vw";
    height: "100vh";
  }
}
