.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 99.1vw;
  margin-bottom: 50vh;
  overflow: hidden;
}

.item-inner-container {
  height: 66%;
  width: 80%;
  max-width: 1200px;
  overflow: hidden;
  display: block;
  animation: shrink 1s forwards;
  -webkit-animation: shrink 1s forwards;
}

.item-inner-container:hover {
  display: block;
  -webkit-animation: enlarge 1s forwards;
  animation: enlarge 1s forwards;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.left-text {
  height: 80%;
  width: 88%;
  margin-left: 6%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.middle-text {
  height: 80%;
  width: 67%;
  margin-left: 33%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.right-text {
  height: 80%;
  width: 44%;
  margin-left: 56%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.title {
  font-family: Avenir, Artial, serif;
}
