.hamburger-container .hidden-middle-line {
  position: absolute;
  /* margin-top: 6px;
  margin-bottom: 6px; */
}

.hamburger-container:hover .middle-line {
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes fade-left {
}
