.navbar {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  animation: navbar-fade-in 1s 1s forwards;
  opacity: 0;
}

.fixed-position {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
}

.fixed {
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  position: fixed;
}

.navbar h4 {
  display: block;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

@keyframes navbar-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
