@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

html,
body {
  background-color: #f7f7f7;
  margin: 0px;
  height: 100vh;
}

h1 {
  display: block;
  font-size: 6rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 4rem;
}
h2 {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
}
h3 {
  display: block;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 1.75rem;
}
h4 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
}

.d {
  border: 1px solid black;
}

@media (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

/* @media (max-height: 480px) and (orientation: landscape) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.15nrem;
  }
} */

@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url(../fonts/Avenir/Avenir-Book.otf) format("opentype");
}

@font-face {
  font-family: "Avenir";
  font-weight: 900;
  src: local("Avenir"), url(../fonts/Avenir/Avenir-Roman.otf) format("opentype");
}

@font-face {
  font-family: "Avenir";
  font-weight: 900;
  src: local("Avenir"), url(../fonts/Avenir/Avenir-Black.otf) format("opentype");
}

.primary {
  color: #f7f7f7;
}
.secondary {
  color: #353535;
}
.tertiary {
  color: #7b7b7b;
}
.accent {
  color: #fa6564;
}
