.title-card-container .link {
  animation-name: enlarge-reverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: enlarge-reverse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

.title-card-container .link:hover {
  animation-name: enlarge;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: enlarge;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

@keyframes enlarge-reverse {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.title-card-container .enlarge-fullscreen {
  animation-name: enlarge-fullscreen;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: enlarge-fullscreen;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

.title-card-container .enlarge-fullscreen-reverse {
  animation-name: enlarge-fullscreen-reverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: enlarge-fullscreen-reverse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes enlarge-fullscreen {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes enlarge-fullscreen-reverse {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.02);
  }
}

.title-card-container .fade-in-out {
  animation-name: fade-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fade-in-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  33% {
    transform: translateY(0px);
    opacity: 0;
  }
  66% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.primary {
  color: #f7f7f7;
}

.secondary {
  color: #353535;
}

.tertiary {
  color: #7b7b7b;
}

.accent {
  color: #fa6564;
}
