.title-card-container .link {
  animation-name: enlarge-reverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: enlarge-reverse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

.title-card-container .link:hover {
  animation-name: enlarge;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: enlarge;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

@keyframes enlarge-reverse {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.title-card-container .enlarge-fullscreen {
  animation-name: enlarge-fullscreen;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: enlarge-fullscreen;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes enlarge-fullscreen {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.44);
  }
}
