:root {
  font-size: 16px;
  font-family: "Vito";
  --primary: #f7f7f7;
  --secondary: #353535;
  --tertiary: #7b7b7b;
  --accent: #fa6564;
}

html,
body {
  padding: 0;
  margin: 0;
  caret-color: transparent; /* remove text cursor */
}

/* debug */

/* * {
  outline: 1px solid #f00;
} */

/* fonts */

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir/Avenir-Book.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/fonts/Avenir/Avenir-Roman.otf");
}

@font-face {
  font-family: "AvenirBlacker";
  src: url("../assets/fonts/Avenir/Avenir-Black.otf");
}

@font-face {
  font-family: "Vito";
  src: url("../assets/fonts/Vito/Vito-CondensedRegular.woff");
}

/* default text styles */

h1 {
  margin: 0;
  font-family: "AvenirBlacker";
  font-size: calc(36px + 6vw);
  color: var(--secondary);
}

h2 {
  margin: 0;
  margin-bottom: 0.83em;
  margin-top: 0.83em;
  font-family: "AvenirBlacker";
  font-size: calc(28px + 1.5vw);
  color: var(--secondary);
}

h3 {
  margin: 0;
  margin-bottom: 0.66em;
  margin-top: 0.66em;
  font-family: "AvenirBold";
  font-size: calc(28px + 1vw);
  color: var(--secondary);
}

h4 {
  margin: 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-family: "Avenir";
  font-size: calc(22px + 0.5vw);
  color: var(--secondary);
}

p {
  font-family: "Vito";
  font-size: 22px;
  margin-bottom: 16px;
  color: var(--secondary);
}

li {
  font-family: "Vito";
  font-size: 22px;
  margin-bottom: 6px;
  color: var(--secondary);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.accent {
  color: var(--accent);
}
