html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir/Avenir-Book.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/fonts/Avenir/Avenir-Roman.otf");
}

@font-face {
  font-family: "AvenirBlacker";
  src: url("../assets/fonts/Avenir/Avenir-Black.otf");
}

h1 {
  margin: 0;
  font-family: "AvenirBlacker";
  font-size: calc(24px + 6vw);
}

h2 {
  margin: 0;
  font-family: "AvenirBold";
  font-size: calc(22px + 2vw);
}

h3 {
  margin: 0;
  font-family: "AvenirBold";
  font-size: calc(18px + 1.5vw);
}

h4 {
  margin: 0;
  font-family: "Avenir";
  font-size: calc(16px + 1vw);
}

p {
  margin: 0;
  font-family: "Avenir";
}

.primary {
  color: #f7f7f7;
}

.secondary {
  color: #353535;
}

.tertiary {
  color: #7b7b7b;
}

.accent {
  color: #fa6564;
}
