.center-image {
  height: 60vh;
  filter: invert(55%) sepia(0%) saturate(389%) hue-rotate(177deg)
    brightness(87%) contrast(79%);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fixed-size {
  flex-shrink: 0;
}
