h1 {
  display: block;
  font-size: 9rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  z-index: 99;
}

.scrunch {
  display: flex;
  width: 300px;
}

.center-image {
  height: 100vh;
  filter: invert(62%) sepia(33%) saturate(3990%) hue-rotate(319deg)
    brightness(97%) contrast(103%);
}

.center-image-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
}
