.center-image {
  height: 60vh;
  filter: invert(55%) sepia(0%) saturate(389%) hue-rotate(177deg)
    brightness(87%) contrast(79%);
  position: absolute;
  left: 35%;
  top: 20%;
  animation: spin 60s infinite linear,
    full-fade-in-upwards 1s 1s linear forwards;
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  animation: fade-in-upwards 1s linear forwards;
  opacity: 0;
}

@keyframes fade-in-upwards {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes full-fade-in-upwards {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
