.home-page .fade-up {
  animation-name: fade-up;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-up;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.home-page .fade-up-later {
  animation-name: fade-up;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-up;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-up {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
